html, body {
  font-family: "europa", "sans-serif";
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
}
  
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}